extends layout

block content
  .container
    b Recent Posts
    .row
      .col-sm-4
        h3 Column 1
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit...
        p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...
      .col-sm-4
        h3 Column 2
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit...
        p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...
      .col-sm-4
        h3 Column 3
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit...
        p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...
