extends layout

block content
  .container

    h1 Twitter Search
    p Search for a topic..

    form#searchForm
      input(type='text' name='search')
      input#submit(type='submit' value='Submit')
    #searchingFor
    .Chart
        canvas#myChart
    #tweets



  script(src='/javascripts/home.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js")




